<div *ngIf="loading" class="spinner" [class.fade-out]="!loading">
    <mat-spinner></mat-spinner>
</div>

<main class="expedientes" *ngIf="!loading">
    <mat-form-field class="expedientes_search">
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscando..." #input />
    </mat-form-field>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
            <!-- Position Column -->
            <ng-container matColumnDef="id">
                <th
                    style="background-color: rgb(211, 211, 243); text-align: center"
                    mat-header-cell
                    *matHeaderCellDef
                >
                    Id.
                </th>
                <td style="text-align: center" mat-cell *matCellDef="let element">
                    {{ element.id }}
                </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="numeroExpediente">
                <th
                    style="background-color: rgb(211, 211, 243); text-align: center"
                    mat-header-cell
                    *matHeaderCellDef
                >
                    Numero de Expediente
                </th>
                <td style="text-align: center" mat-cell *matCellDef="let element">
                    {{ element.numeroExpediente }}
                </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="estadoActual">
                <th
                    style="background-color: rgb(211, 211, 243); text-align: center"
                    mat-header-cell
                    *matHeaderCellDef
                >
                    Estado Actual
                </th>
                <td style="text-align: center" mat-cell *matCellDef="let element">
                    {{ element.estadoActual }}
                </td>
            </ng-container>

            <ng-container matColumnDef="tipoExpediente">
                <th
                    style="background-color: rgb(211, 211, 243); text-align: center"
                    mat-header-cell
                    *matHeaderCellDef
                >
                    Tipo de Expediente
                </th>
                <td style="text-align: center" mat-cell *matCellDef="let element">
                    {{ element.tipoExpediente }}
                </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="habilitado">
                <th
                    style="background-color: rgb(211, 211, 243); text-align: center"
                    mat-header-cell
                    *matHeaderCellDef
                >
                    Habilitado Si/No
                </th>
                <td style="text-align: center" mat-cell *matCellDef="let element">
                    <mat-checkbox [checked]="element.habilitado"></mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="fechaInicio">
                <th
                    style="background-color: rgb(211, 211, 243); text-align: center"
                    mat-header-cell
                    *matHeaderCellDef
                >
                    Fecha de Inicio
                </th>
                <td style="text-align: center" mat-cell *matCellDef="let element">
                    {{ element.fechaIncio }}
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator
            [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons
            aria-label="Select page of periodic elements"
        >
        </mat-paginator>
    </div>
</main>
